.main-page {
  background: url(../img/main-bg.jpg) center center/cover no-repeat;
}

.main-page::before {
  content: "";
  background: -moz-linear-gradient(top, rgba(101, 100, 96, 0.3) 0%, rgba(101, 100, 96, 0.3) 75%, rgba(101, 100, 96, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(101, 100, 96, 0.6)), color-stop(75%, rgba(101, 100, 96, 0.6)), to(rgba(101, 100, 96, 0)));
  background: -moz-linear-gradient(top, rgba(101, 100, 96, 0.6) 0%, rgba(101, 100, 96, 0.6) 75%, rgba(101, 100, 96, 0) 100%);
  background: linear-gradient(to bottom, rgba(101, 100, 96, 0.6) 0%, rgba(101, 100, 96, 0.6) 75%, rgba(101, 100, 96, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99656460',endColorstr='#00656460',GradientType=0);
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
}

.main-content__vn {
  width: 100%;
}

.main-content img {
  max-width: 25px;
  margin-bottom: -4px;
}

.main-content h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 45px;
  color: #ffffff;
}

.main-desc {
  font-size: 22px;
  line-height: 35px;
  color: #ffffff;
  margin-top: 50px;
}

.main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
}

.html-page-case {
  position: relative;
  width: 100%;
}

.html-tutorials {
  background-color: #42444e;
}

.html-tutorials-vn {
  overflow: hidden;
}

.page-content {
  background: #fff url(../../../../img/page-content-bg.png) 676px -3px no-repeat;
  background-size: auto 75%;
  padding-left: 2.14rem;
  padding-right: 2.14rem;
  position: relative;
}

.page-content__header {
  padding-top: 2.14rem;
  text-align: center;
}

.page-content__header h3 {
  font-weight: 300;
  color: #9799a7;
}

.page-content__header h1 {
  margin-bottom: .42rem;
}

.course__items li {
  counter-increment: lesson;
  margin-bottom: .85rem;
  padding-left: 2.85rem;
}

.course__items a {
  display: inline-block;
  border-bottom: 0;
  padding: 0;
  color: #666;
}

.course__items a::before {
  border-radius: 50%;
  content: counter(lesson);
  font-size: .92rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  margin: -.14rem .71rem .071rem -2.85rem;
  padding-top: .07rem;
  text-align: center;
  font-weight: 300;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
  float: left;
  background-color: #cecfd5;
  color: #fff;
}

.course__items a:hover {
  color: #ff7b29;
}

.course__items a:hover::before {
  background-color: #9799a7;
}

.course-btn {
  text-align: center;
  margin-bottom: 1.71rem;
  margin-top: 1rem;
}

.btn-alt {
  background-color: #0087cc;
}

.page-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.course__items-2 {
  counter-reset: lesson 6;
}

.sidebar__logo {
  text-align: center;
  padding-left: 2.14rem;
  padding-right: 2.14rem;
}

.sidebar__logo span:first-child {
  font-size: 1.14rem;
  font-weight: 300;
  color: #9799a7;
}

.sidebar__logo span:last-child {
  font-size: 2.14rem;
}

.sidebar__content-vn {
  padding-left: 2.14rem;
  padding-right: 2.14rem;
}

.sidebar li {
  margin-bottom: 1.71rem;
}

.sidebar a {
  color: #ffffff;
}

.sidebar strong {
  font-weight: 400;
  display: block;
  color: #9799a7;
}

.sidebar-nav-btn {
  display: none;
  position: absolute;
  background: url(../../../../img/sidebar-nav.svg) 0 -32px no-repeat;
  top: 14px;
  left: 30px;
  width: 32px;
  height: 32px;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  font: 0/0 a;
  text-shadow: none;
}

.nav-open .sidebar-nav-btn {
  background-position: -32px -32px;
}

.animation-button {
  width: 270px;
  height: 150px;
  position: relative;
  cursor: pointer;
  background: #e8e8e8;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  margin: 0 25px;
}

.animation-button .name {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.animation-button .button {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

.animation-button .green-dark {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #00c092;
  z-index: 10;
}

.animation-button .green {
  background-color: #32f3c5;
  z-index: 9;
}

.animation-button .white {
  background-color: white;
  z-index: 8;
}

.animation-button:hover {
  -webkit-box-shadow: 0px 0px 20px 9px #395a53;
  box-shadow: 0px 0px 20px 9px #395a53;
}

.animation-button:hover .green-dark {
  -webkit-transform: translate3d(-25px, -35px, 0) rotate3d(0, 0, 1, 0deg);
  -moz-transform: translate3d(-25px, -35px, 0) rotate3d(0, 0, 1, 0deg);
  transform: translate3d(-25px, -35px, 0) rotate3d(0, 0, 1, 0deg);
}

.animation-button:hover .green {
  -webkit-transform: translate3d(-15px, -18px, 0) rotate3d(0, 0, 1, 1deg);
  -moz-transform: translate3d(-15px, -18px, 0) rotate3d(0, 0, 1, 1deg);
  transform: translate3d(-15px, -18px, 0) rotate3d(0, 0, 1, 1deg);
}

.animation-button:hover .white {
  -webkit-transform: translate3d(-5px, -5px, 0) rotate3d(0, 0, 1, -1deg);
  -moz-transform: translate3d(-5px, -5px, 0) rotate3d(0, 0, 1, -1deg);
  transform: translate3d(-5px, -5px, 0) rotate3d(0, 0, 1, -1deg);
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  outline: none;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  margin: 0;
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  -moz-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

ul {
  margin: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

html {
  color: #666;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-overflow-style: scrollbar;
  font-size: 87.5%;
  line-height: 1.5rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  transition: all .25s linear;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button,
input,
select,
textarea,
ul,
ol,
figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  font-weight: 600;
}

h1,
h2,
b,
strong,
h1 a,
h2 a {
  color: #42444e;
}

h1 {
  padding: 0;
  font-size: 2.57rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.28rem;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
figure {
  margin-bottom: 1.71rem;
}

a:active,
a:hover {
  outline: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.txt-upp {
  text-transform: uppercase;
}

.txt-und {
  text-decoration: underline;
}

.txt-center {
  text-align: center;
}

.f500 {
  font-weight: 500;
}

.f700 {
  font-weight: 700;
}

.f900 {
  font-weight: 900;
}

.container {
  max-width: 1430px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.green-color {
  color: #00e6af;
}

.page-case > * {
  max-width: 42.85rem;
}

.btn {
  border: 0;
  padding: .85rem 1.6rem;
  text-align: center;
  font-weight: 600;
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
  border-radius: .42rem;
  display: inline-block;
  color: #fff;
}

.btn:focus,
.btn:active,
.btn:hover {
  background-color: #ff7b29;
}

.label-new {
  border-radius: 3px;
  left: .14rem;
  padding: .14rem .35rem;
  top: -.07rem;
  font-size: .78rem;
  line-height: 1.28rem;
  font-weight: 600;
  position: relative;
  background-color: #2db34a;
  color: #fff;
}

.footer {
  background: #eaeaed;
  margin: 1.71rem -2.14rem 0;
  font-size: .85rem;
  line-height: 1.28rem;
  padding: 1.71rem 2.14rem 1.71rem 2.14rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 540px) {
  .course__items:first-child {
    padding-right: 1.07rem;
  }

  .course__items:last-child {
    padding-left: 1.07rem;
  }
}

@media screen and (min-width: 801px) {
  .html-page-case {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }

  .page-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1850px;
  }

  .sidebar {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 18.57rem;
    -moz-box-flex: 0;
    -ms-flex: 0 0 18.57rem;
    flex: 0 0 18.57rem;
  }

  .sidebar__logo {
    line-height: 2.14rem;
    margin-top: 1.21rem;
    margin-bottom: 2.35rem;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 100%;
    line-height: 1.68rem;
  }
}

@media screen and (min-width: 1670px) {
  .page-content {
    background-position: 100% -3px;
  }
}

@media screen and (max-width: 800px) {
  .html-page-case {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    -moz-transition: transform 300ms ease-in-out, -moz-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out, -moz-transform 300ms ease-in-out;
  }

  .nav-open .html-page-case {
    -webkit-transform: translate3d(70%, 0, 0);
    -moz-transform: translate3d(70%, 0, 0);
    transform: translate3d(70%, 0, 0);
  }

  .page-content {
    min-height: 100vh;
  }

  .sidebar-nav-btn {
    display: block;
  }

  .sidebar__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    overflow: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  .sidebar__content-vn {
    margin-top: 6.42rem;
    opacity: .75;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -moz-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
  }

  .sidebar__logo {
    font-size: 1.14rem;
    line-height: 1.71rem;
    margin: 0;
    padding-bottom: .42rem;
    padding-top: .42rem;
  }

  .sidebar__logo span {
    display: block;
  }

  .sidebar__logo span:first-child {
    font-size: 1rem;
  }

  .sidebar__logo span:last-child {
    font-size: 1.14rem;
  }

  .nav-open .sidebar__content-vn {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@media screen and (max-width: 540px) {
  .main-content h1 {
    font-size: 32px;
  }

  .main-desc {
    font-size: 18px;
    line-height: 28px;
    margin-top: 40px;
  }

  .animation-button .name {
    font-size: 32px;
  }

  .main-nav {
    margin-right: -10px;
    margin-left: -10px;
  }

  .animation-button {
    margin: 0 20px;
  }
}

@media screen and (max-width: 539px) {
  .page-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .course__items ol {
    margin-bottom: .85rem;
  }
}

@media screen and (max-width: 440px) {
  .page-content {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}

@media screen and (max-width: 1669px) and (min-width: 1400px) {
  .page-content {
    background-position: 836px -3px;
  }
}

@media screen and (max-width: 1399px) and (min-width: 801px) {
  .page-content {
    background-position: 750px -3px;
  }
}
/*# sourceMappingURL=maps/main.css.map */
