/*@import "modules/header/header";*/

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  margin: 0;
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  -moz-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

p {
  margin: 0;
}

@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TrolaLatCyr";
  src: url("../fonts/TrolaLatCyr.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-overflow-style: scrollbar;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  background-color: #e6e6e6;
}

/*particles*/

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

.particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.container {
  max-width: 1430px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.s-full-height {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.s-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.s-col-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.s-col-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.s-lg-inline-block {
  display: inline-block;
}

.s-dm-inline-block {
  display: none !important;
}

.ws-no-wrap {
  white-space: nowrap;
}

.s-btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #17182D;
  background: #E6C783;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 25px 54px 23px 54px;
  text-transform: uppercase;
  letter-spacing: 0.055em;
}

.section-title {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
}

.section-title span {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #605F6C;
  text-transform: uppercase;
}

.section-title::before {
  content: '';
  position: absolute;
  top: -moz-calc(100% + 10px);
  top: calc(100% + 10px);
  right: 0;
  left: -5000px;
  border-bottom: 1px solid #605F6C;
}

.section-desc-title h3 {
  font-size: 36px;
  font-weight: 300;
  line-height: 40px;
}

.rotate-text span {
  line-height: normal;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

@media screen and (max-width: 991px) {
  .s-col-full {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .s-dm-inline-block {
    display: inline-block !important;
  }

  .s-lg-inline-block {
    display: none !important;
  }
}

@media screen and (max-width: 700px) {
  .s-btn {
    font-size: 15px;
    line-height: 20px;
    padding: 20px 40px 18px 40px;
  }
}

@media screen and (max-width: 480px) {
  .s-btn {
    font-size: 14px;
    padding: 17px 40px 15px 40px;
  }

  .section-title span {
    font-size: 16px;
  }

  .section-desc-title h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 440px) {
  .section-desc-title h3 {
    font-size: 26px;
    line-height: 30px;
  }

  .section-title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 345px) {
  .s-btn {
    font-size: 13px;
    padding: 15px 30px 13px 30px;
  }

  .section-title span {
    font-size: 14px;
  }

  .section-title::before {
    top: -moz-calc(100% + 3px);
    top: calc(100% + 3px);
  }

  .section-desc-title h3 {
    font-size: 24px;
  }

  .section-title {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=maps/main.css.map */
