.page-content {
    background: #fff url(../../../img/page-content-bg.png) 676px -3px no-repeat;
    background-size: auto 75%;
    position: relative;
    padding: 2.14rem 2.14rem 4.64rem 2.14rem;
}
.page-content.lesson-content {
    background: #fff;
}
.page-content:not(.lesson-content) .page-content__header {
    text-align: center;
    h1 {
        margin-bottom: .42rem;
    }
}
.page-content__header {
    h3 {
        font-weight: 300;
        color: #9799a7;
    }
}
.lesson-subtitle {
    color: #2db34a;
}
.green-border {
    border-bottom: 1px solid #2db34a;
}
.course__items {
    li {
        counter-increment: lesson;
        margin-bottom: .85rem;
        padding-left: 2.85rem;
    }
    a {
        display: inline-block;
        border-bottom: 0;
        padding: 0;
        color: #666;
        &::before {
            border-radius: 50%;
            content: counter(lesson);
            font-size: .92rem;
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            margin: -.14rem .71rem .071rem -2.85rem;
            padding-top: .07rem;
            text-align: center;
            font-weight: 300;
            transition: all .15s linear;
            float: left;
            background-color: #cecfd5;
            color: #fff;
        }
        &:hover {
            color: #ff7b29;
            &::before {
                background-color: #9799a7;
            }
        }
    }
}
.course-btn {
    text-align: center;
    margin-bottom: 1.71rem;
    margin-top: 1rem;
}
.btn-alt {
    background-color: #0087cc;
}
.page-group {
    display: flex;
    justify-content: space-between;
}
.course__items-2 {
    counter-reset: lesson 6;
}
.lesson-content img {
    margin: 2rem 0;
}
.content-menu__nav {
    border: .071rem solid #cecfd5;
    padding: 2.07rem 2.14rem .35rem;
    margin-bottom: 1.71rem;
    border-radius: .42rem;
    h4 {
        color: #2db34a;
        font-size: 1.23rem;
    }
    a {
        color: #0087cc;
        border-bottom: .071rem solid #cecfd5;
        padding-bottom: .071rem;
    }
    ul {
        padding-left: 1.07rem;
        color: #cecfd5;
        list-style: square;
    }
    h6 {
        margin-bottom: .42rem;
    }
}
.content-menu__nav-number {
    border-radius: 50%;
    width: 4.28rem;
    height: 4.28rem;
    line-height: 4.28rem;
    margin: .42rem -3.21rem 0 0;
    font-size: 1.71rem;
    text-align: center;
    font-weight: 300;
    float: right;
    background-color: #cecfd5;
    color: #fff;
}
.page-case>.code-case__full {
    max-width: none;
}
.code-case {
    position: relative;
    color: #666;
    background: #eaeaed;
    margin: 0 -2.14rem 1.71rem;
    overflow-y: hidden;
}
.code-nt, .code-case .nc, .code-case .nf, .code-case .no, .code-case .nn, .code-case .cp, .code-case .kd, .code-case .kc {
    color: #ff7b29;
}
.code-na, .code-case .nl, .code-case .k {
    color: #0087cc;
}
.code-s, .code-case .sx, .code-case .m, .code-case .s2, .code-case .ss, .code-case .kp, .code-case .s1, .code-case .mh, .code-case .mi {
    color: #2db34a;
}
.code-case__number {
    color: #9799a7;
    text-align: right;
    padding: 1.71rem 2.14rem;
    background-color: #cecfd5;
    p {
        margin-bottom: 0;
    }
}
.code-case__code {
    padding: 1.71rem 1.2rem 1.71rem 1.2rem;
    p {
        margin-bottom: 0;
    }
}
.practice {
    counter-reset: lesson;
    list-style: none;
    margin: 0 0 1.71rem 0;
    padding: 0;
    li {
        counter-increment: practice;
        margin-left: 3.28rem;
        &::before {
            content: counter(practice);
            border-radius: 50%;
            width: 2rem;
            font-size: .92rem;
            height: 2rem;
            line-height: 2rem;
            margin: -.21rem .71rem .071rem -2.85rem;
            padding-top: .071rem;
            text-align: center;
            font-weight: 300;
            float: left;
            background-color: #cecfd5;
            color: #fff;
        }
    }
}
.code-cont {
    border: 1px solid #cecfd5;
    border-radius: 0 10px 10px 10px;
    padding: 0.71rem 1.14rem 1rem 1.14rem;
}
.code-search input {
    width: 100%;
    outline: none;
    border: 1px solid #cecfd5;
    border-radius: 20px;
    padding: 0 1rem;
    font-size: 0.85rem;
    line-height: 1.5rem;
    color: #666;
    &:focus, &:active {
        border-color: #0087cc;
        transition: .3s;
    }
}
.code-res {
    margin-top: 4rem;
    margin-bottom: 1.71rem;
    position: relative;
    &::after {
        content: url(../img/chrome.svg);
        display: block;
        position: absolute;
        z-index: 4;
        top: -22px;
        left: 8px;
        width: 18px;
        height: 18px;
    }
    &::before {
        content: "Мой сайт";
        position: absolute;
        z-index: 2;
        top: -29px;
        left: 0;
        font-size: .85rem;
        padding-left: 35px;
        padding-top: 0.2rem;
        width: 150px;
        height: 30px;
        background-color: #ffffff;
        border: 1px solid #cecfd5;
        border-bottom: none;
        border-radius: 10px 10px 0 0;
    }
}
.code-res__vn {
    margin-top: 1.3rem;
}
.code-res h6 {
    color: #666;
    font-size: 0.67rem;
}
.content-menu {
    code {
        color: inherit;
    }
}
.mx-w300 {
    max-width: 300px;
}
.lesson4-nav {
    list-style: initial;
    margin-left: 1rem;
    a {
        color: #0087cc;
        border-bottom: .071rem solid #cecfd5;
        padding-bottom: .071rem;
    }
    li {
        margin-left: 0;
        &::before {
            content: none;
        }
    }
    p {
        margin-bottom: 0.5rem;
        &::before {
            content: "•";
            padding-right: 6px;
        }
    }
}

@media screen and (min-width: 1670px) {
    .page-content {
        background-position: 100% -3px;
    }
}
@media screen and (min-width: 1220px) {
    .content-menu {
        position: absolute;
        top: 0;
        right: -2.14rem;
        width: 18.57rem;
        transform: translateX(100%);
    }
}
@media screen and (max-width: 1669px) and (min-width: 1400px) {
    .page-content {
        background-position: 836px -3px;
    }
}
@media screen and (max-width: 1399px) and (min-width: 801px) {
    .page-content {
        background-position: 750px -3px;
    }
}
@media screen and (max-width: 1219px) and (min-width: 560px) {
    .content-menu {
        float: right;
        margin-left: 2.14rem;
        position: relative;
        z-index: 1;
        width: 18.57rem;
    }
}
@media screen and (min-width: 801px) {
    .page-content {
        flex: 1 1 auto;
        min-height: 1850px;
    }
}
@media screen and (max-width: 800px) {
    .page-content {
        min-height: 100vh;
    }
}
@media screen and (min-width: 540px) {
    .course__items:first-child {
        padding-right: 1.07rem;
    }
    .course__items:last-child {
        padding-left: 1.07rem;
    }
}
@media screen and (max-width: 539px) {
    .page-group {
        flex-direction: column;
    }
    .course__items ol {
        margin-bottom: .85rem;
    }
}
@media screen and (max-width: 440px) {
    .page-content {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
    .footer {
        width: calc(100% + 1.1rem);
    }
}
