.main-page {
    background: url(../img/main-bg.jpg) center center / cover no-repeat;
}
.main-page::before {
    content: "";
    background: -moz-linear-gradient(top,rgba(101,100,96,0.3) 0%,rgba(101,100,96,0.3) 75%,rgba(101,100,96,0) 100%);
    background: -webkit-linear-gradient(top,rgba(101,100,96,0.3) 0%,rgba(101,100,96,0.6) 75%,rgba(101,100,96,0) 100%);
    background: linear-gradient(to bottom,rgba(101,100,96,0.6) 0%,rgba(101,100,96,0.6) 75%,rgba(101,100,96,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99656460',endColorstr='#00656460',GradientType=0);
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.logo-br {
    border-bottom: 5px solid #00c092;
}
.anim-typing {
    text-align: left;
    font-size: 32px;
    font-weight: 900;
    color: #ffffff;
    padding: 0 2.7rem;
    margin-top: 3rem;
}
.main-content {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
}
.main-content__vn {
    width: 100%;
}
.main-content img {
    max-width: 25px;
    margin-bottom: -4px;
}
.main-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 45px;
    color: #ffffff;
}
.main-desc {
    font-size: 22px;
    line-height: 35px;
    color: #ffffff;
    margin-top: 50px;
}
.main-nav {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

@media screen and (max-width: 540px) {
    .main-content h1 {
        font-size: 32px;
    }
    .main-desc {
        font-size: 18px;
        line-height: 28px;
        margin-top: 40px;
    }
    .animation-button .name {
        font-size: 32px;
    }
    .main-nav {
        margin-right: -10px;
        margin-left: -10px;
    }
    .animation-button {
        margin: 0 20px;
    }
}