.animation-button {
  width: 350px;
  height: 203px;
  position: relative;
  cursor: pointer;
  background: #e8e8e8;
  transition: .5s;

  .name {
    letter-spacing: -0.035em;
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: white;
  }

  .button {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: .5s;
  }

  .green-dark {
    background-color: #00c092;
    z-index: 10;
  }

  .green {
    background-color: #32f3c5;
    z-index: 9;
  }

  .white {
    background-color: white;
    z-index: 8;
  }

  &:hover {
    box-shadow: 0px 0px 20px 9px #e8e8e8;

    .green-dark {
      transform: translate3d(-90px, -90px, 0) rotate3d(0, 0, 1, 0deg);
    }

    .green {
      transform: translate3d(-60px, -60px, 0) rotate3d(0, 0, 1, 1deg);
    }

    .white {
      transform: translate3d(-30px, -30px, 0) rotate3d(0, 0, 1, -1deg);
    }
  }
}