@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TrolaLatCyr";
  src: url("../fonts/TrolaLatCyr.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}